---
layout: default
---

<div class="home">

<!--   <h1 class="page-heading">Posts</h1> -->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">
          <span class="fa fa-facebook-square facebook share-highlight"></span>
          <span class="fa fa-twitter-square twitter share-highlight"></span>
          <span class="fa fa-calendar"></span>
          <span class="meta-label">{{ post.date | date: "%b %-d, %Y" }}</span>
          {% if post.author %} 
            <span class="fa fa-folder-open-o"></span>
            <span class="meta-label">{{ post.author }}</span>
          {% endif %}
          {% if post.meta %}
            <span class="fa fa-folder-open-o"></span>
            <span class="meta-label">{{ post.meta }}</span>
          {% endif %}
          {% if post.categories %}
            <span class="fa fa-folder-open-o"></span>
            <span class="meta-label">{{ post.categories }}</span>
          {% endif %}
          <br />
        </p>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
</div>
